# Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

# Importing Data

In [3]:
t = pd.read_csv('cluster_12_dma.csv')
t.head()

,CPF,BEBIDAS,ALIMENTACAO,MERCEARIA,CONGELADOS,ACOUGUE,HORTIFRUTEGRANJEIRO,BAZAR,LIMPEZA,RESFRIADOS,PERFUMARIA,CLUSTER_12
0,91642,0.05,0.12,0.37,0.00,0.06,0.16,0.02,0.01,0.16,0.05,1
1,106690,0.12,0.04,0.37,0.02,0.13,0.08,0.03,0.06,0.10,0.04,9
2,145670,0.14,0.04,0.34,0.04,0.07,0.11,0.02,0.04,0.15,0.06,7
3,150673,0.09,0.04,0.40,0.00,0.09,0.09,0.02,0.06,0.12,0.09,9
4,234699,0.13,0.04,0.39,0.06,0.04,0.15,0.01,0.03,0.14,0.02,9

In [4]:
dataset=pd.read_csv('CLUSTER_NORMALIZADO.csv')
dataset.shape

(277393, 17)

# Select Features, Clean and Transform

### Selecting Features

In [5]:
X = dataset.drop(['ESTADO_CIVIL','BANDEIRA_LOJA','TOTAL','EMBALAGEM','ELETRODOMESTICOS','VAZIO'],axis=1)
X.head()

,CPF,BEBIDAS,ALIMENTACAO,MERCEARIA,CONGELADOS,ACOUGUE,HORTIFRUTEGRANJEIRO,BAZAR,LIMPEZA,RESFRIADOS,PERFUMARIA
0,91642,0.05,0.12,0.37,0.00,0.06,0.16,0.02,0.01,0.16,0.05
1,106690,0.12,0.04,0.37,0.02,0.13,0.08,0.03,0.06,0.10,0.04
2,145670,0.14,0.04,0.34,0.04,0.07,0.11,0.02,0.04,0.15,0.06
3,150673,0.09,0.04,0.40,0.00,0.09,0.09,0.02,0.06,0.12,0.09
4,234699,0.13,0.04,0.39,0.06,0.04,0.15,0.01,0.03,0.14,0.02

### Taking care of Missing Data in Dataset

In [149]:
X.gt(0).sum()

CPF                    277393
BEBIDAS                271816
ALIMENTACAO            263793
MERCEARIA              275006
CONGELADOS             229264
ACOUGUE                266398
HORTIFRUTEGRANJEIRO    270074
BAZAR                  205109
LIMPEZA                243957
RESFRIADOS             273078
PERFUMARIA             247393
dtype: int64

In [150]:
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)
X = X.replace(0, 0.01)
X.head()

,CPF,BEBIDAS,ALIMENTACAO,MERCEARIA,CONGELADOS,ACOUGUE,HORTIFRUTEGRANJEIRO,BAZAR,LIMPEZA,RESFRIADOS,PERFUMARIA
0,91642,0.05,0.12,0.37,0.01,0.06,0.16,0.02,0.01,0.16,0.05
1,106690,0.12,0.04,0.37,0.02,0.13,0.08,0.03,0.06,0.10,0.04
2,145670,0.14,0.04,0.34,0.04,0.07,0.11,0.02,0.04,0.15,0.06
3,150673,0.09,0.04,0.40,0.01,0.09,0.09,0.02,0.06,0.12,0.09
4,234699,0.13,0.04,0.39,0.06,0.04,0.15,0.01,0.03,0.14,0.02

### Encoding categorical data

In [5]:
# dataset.head()

In [6]:
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# labelencoder_X = LabelEncoder()
# onehotencoder = OneHotEncoder(categorical_features =[0])
# X = onehotencoder.fit_transform(X).toarray()
# dataset['ESTADO_CIVIL'] = labelencoder_X.fit_transform(dataset['ESTADO_CIVIL'])
# dataset['BANDEIRA_LOJA'] = labelencoder_X.fit_transform(dataset['BANDEIRA_LOJA'])

### Splitting the Dataset into Training set and Test Set

### Feature Scaling

# Creating Customer Categories

### (1) K-Means clustering

In [159]:
from sklearn.cluster import KMeans
from IPython.display import HTML

N = 5

# split data in N folders
def split_data(data):
    h = {}
    df = pd.DataFrame(columns=['BEBIDAS','ALIMENTACAO','MERCEARIA','CONGELADOS','ACOUGUE','HORTIFRUTEGRANJEIRO','BAZAR','LIMPEZA','RESFRIADOS','PERFUMARIA','CLUSTER_5'])
    for i in range(0,N):
        h[i] = data.loc[data['CLUSTER_5'] == i]
#         data = np.array(['a','b','c','d'])
        s = pd.Series(h[i].mean())
        df = df.append(s, ignore_index = True)
#     display(HTML(df.to_html()))
#         h[i].drop(['MERCEARIA','CLUSTER'],axis=1).plot.hist(bins=9, alpha=0.5)
    return h,df

# get percentage of elements in column
def get_percentage(data,col):
    print (data[col].value_counts(normalize=True) * 100)

# run k-means
def kmeans_func(data, num_clust):
    model = KMeans(num_clust)
    model.fit(data)
    clust_labels = model.predict(data)
    cent = model.cluster_centers_
    return (clust_labels, cent)

clust_labels, cent = kmeans_func(X.drop(['CPF'],axis=1), N)
kmeans = pd.DataFrame(clust_labels)
# del X['CLUSTER']
X.insert((X.shape[1]),'CLUSTER_5',kmeans)

In [160]:
obj = split_data(X.drop(['CPF'],axis=1))
h = obj[0]
df = obj[1]
display(HTML(df.to_html()))

In [128]:
df.head()

,BEBIDAS,ALIMENTACAO,MERCEARIA,CONGELADOS,ACOUGUE,HORTIFRUTEGRANJEIRO,BAZAR,LIMPEZA,RESFRIADOS,PERFUMARIA,CLUSTER_12,CLUSTER_10,CLUSTER_5,CLUSTER_8
0,0.086760,0.048327,0.325845,0.029902,0.069709,0.122185,0.023548,0.082024,0.126665,0.088763,0.0,9.0,1.0,0.0
1,0.137007,0.067052,0.243261,0.035081,0.084768,0.130985,0.020322,0.040011,0.207312,0.041165,1.0,8.0,3.0,2.0
2,0.095678,0.041395,0.456239,0.026728,0.059641,0.091129,0.019161,0.052179,0.113195,0.056080,2.0,5.0,0.0,3.0
3,0.112581,0.056688,0.245161,0.031244,0.080067,0.234855,0.020671,0.045209,0.135348,0.046557,3.0,4.0,4.0,6.0
4,0.165826,0.052844,0.317064,0.030112,0.070301,0.116851,0.019711,0.048764,0.130676,0.052295,4.0,0.0,1.0,0.0

In [127]:
df.drop(['MERCEARIA','HORTIFRUTEGRANJEIRO'],axis=1).idxmax(axis=1)

0     CLUSTER_10
1     CLUSTER_10
2     CLUSTER_10
3      CLUSTER_8
4     CLUSTER_12
5     CLUSTER_12
6     CLUSTER_12
7     CLUSTER_12
8     CLUSTER_12
9     CLUSTER_12
10    CLUSTER_12
11    CLUSTER_12
dtype: object

In [1]:
X.head()

NameError: name 'X' is not defined

In [131]:
dataset['CLUSTER_12'] = pd.Series(clust_labels, index=X.index)

In [132]:
dataset.drop(['ESTADO_CIVIL','BANDEIRA_LOJA','ELETRODOMESTICOS','EMBALAGEM','VAZIO','TOTAL'],axis=1).head()

,CPF,BEBIDAS,ALIMENTACAO,MERCEARIA,CONGELADOS,ACOUGUE,HORTIFRUTEGRANJEIRO,BAZAR,LIMPEZA,RESFRIADOS,PERFUMARIA,CLUSTER_10,CLUSTER_12
0,91642,0.05,0.12,0.37,0.00,0.06,0.16,0.02,0.01,0.16,0.05,11,11
1,106690,0.12,0.04,0.37,0.02,0.13,0.08,0.03,0.06,0.10,0.04,4,4
2,145670,0.14,0.04,0.34,0.04,0.07,0.11,0.02,0.04,0.15,0.06,4,4
3,150673,0.09,0.04,0.40,0.00,0.09,0.09,0.02,0.06,0.12,0.09,2,2
4,234699,0.13,0.04,0.39,0.06,0.04,0.15,0.01,0.03,0.14,0.02,11,11

In [163]:
X.to_csv(r'./cluster_dma.csv',index=False)

In [52]:
# type(list(h[0].drop(['CLUSTER'],axis=1).mean()))

In [107]:
get_percentage(X,'CLUSTER')

2    20.507727
7    16.802154
3    15.620077
1    15.166929
5    13.161471
0     5.573681
6     5.321692
8     4.009113
9     2.760704
4     1.076451
Name: CLUSTER, dtype: float64

### (2) Agglomerative Clustering

In [71]:
# from sklearn.cluster import AgglomerativeClustering

# def doAgglomerative(data, num_clust):
#     model = AgglomerativeClustering(n_clusters=num_clust, affinity = 'euclidean', linkage = 'ward')
#     clust_labels1 = model.fit_predict(data)
#     return (clust_labels1)

# clust_labels1 = doAgglomerative(X.drop(['CLUSTER'],axis=1), N)
# agglomerative = pd.DataFrame(clust_labels1)
# X.insert((X.shape[1]),'agglomerative',agglomerative)

### (3) Affinity Propagation

In [75]:
# from sklearn.cluster import AffinityPropagation

# def doAffinity(X):
#     model = AffinityPropagation(damping = 0.5, max_iter = 250, affinity = 'euclidean')
#     model.fit(X)
#     clust_labels2 = model.predict(X)
#     cent2 = model.cluster_centers_
#     return (clust_labels2, cent2)

# clust_labels2, cent2 = doAffinity(X.drop(['CLUSTER'],axis=1))
# affinity = pd.DataFrame(clust_labels2)
# X.insert((X.shape[1]),'affinity',affinity)

### (4) Guassian Mixture Modelling

In [90]:
# from sklearn.mixture import GaussianMixture

# def doGMM(X, nclust):
#     model = GaussianMixture(n_components=nclust,init_params='kmeans')
#     model.fit(X)
#     clust_labels3 = model.predict(X)
#     return (clust_labels3)

# clust_labels3 = doGMM(X.drop(['CLUSTER'],axis=1),N)
# gmm = pd.DataFrame(clust_labels3)
# del X['gmm']
# X.insert((X.shape[1]),'gmm',gmm)

# Ploting Results